<h2>Añadir comentario</h2>

<form method="post" action="/quizes/<%=quizid%>/comments/" >
    Añadir comentario:
    <input type="text" id="comment" name="comment[texto]" placeholder="Añade un comentario" size="60"/>
    <p>
        <a href="/quizes/<%=quizid%>"><button type="button"><img class="editar" src='/images/cancelar.png' alt='Cancelar'> Cancelar</button></a>
        <button type="submit"><img class="editar" src='/images/enviar.png' alt='Enviar'> Enviar comentario</button>
    </p>
</form>
