<div id="light" class="white_content">
    <h2>Información de la página.</h2>
    <p>Esta es una aplicación web desarrollada como proyecto del MOOC de MiriadaX "Desarrollo de servicios en la nube con HTML5, Javascript y node.js".</p>
    <p>Se trata de una app de preguntas y respuestas, donde los usuarios registrados podrán crear, editar y borrar las preguntas, así como moderar los comentarios que hayan puesto los usuarios anónimos antes de que sean publicados.</p>
    <p class="nota">Hay dos cuentas registradas por defecto:
        <ul class="nota">
            <li>admin/1234</li>
            <li>pepe/5678</li>
        </ul>
    </p>

    <div class="center">
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><div class="button raised orange">CERRAR</div></a></div>
    </div>
<div id="fade" class="black_overlay"></div>
