<h2>Créditos</h2>
<div class="autor">
    <img class="foto_autor" src='/images/foto_autor.png' alt='Foto autor'>
    <h3>Felipe Joglar Santos.</h3>
    <p>Residencia: Valladolid.</p>
    <p>Nacido en Grado, Asturias, en 1983.</p>
</div>
