/* Button */
.button {
    display: inline-block;
    min-width: 160px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: #212121;
}

.button.teal {
    background-color: #009688;
}

.button.teal:hover {
    background-color: #4db6ac;
}

.button.red {
    background-color: #ef5350;
}

.button.red:hover {
    background-color: #ef9a9a;
}

.button.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}
