body{
	font-size: 16px;
    text-align: center;
}
nav {
    text-align: center;
}
#contenedor {
	width: 90%;
	border-radius: 2px;
}
#pantalla {
    text-align: center;
    padding: 5px;
}
#pantalla_texto::after {
    content: "Smartphone Layout";
    color: #607D8B;
}
.logos {
    height: 40px;
}
.github {
    height: 40px;
}
