@font-face {
    font-family: 'fira';
    src: url('FiraSansOT-Light.otf');
}

body{
	background: #607D8B;
	font-family: fira;
	font-size: 14px;
    color: #212121;
}
header h1 {
	font-size: 30px;
	font-weight: bold;
	border-bottom: 3px solid #607D8B;
	padding-bottom: 3px;
}
footer {
	text-align: center;
	border-top: 3px solid #607D8B;
	clear: both;
	padding-top: 10px;
	margin-top: 10px;
    overflow: auto;
}
td {
    padding: 10px 0px 0px 0px;
}
#contenedor {
	background: #CFD8DC;
	width: 80%;
	max-width: 1024px;
	padding: 10px;
	margin-left : auto;
	margin-right : auto;
	border-radius: 10px;
}
.respuesta{
    font-size: 16px;
	font-weight: bold;
}
.logos {
    height: 50px;
}
.github {
    height: 50px;
    float: right;
}
div.autor {
    padding-bottom: 10px;
    overflow: auto;
}
.foto_autor {
    float: left;
    height: 120px;
    margin-right: 10px;
    border: 1px solid #607D8B;
}
a {
    color:  #3f51b5;
    text-decoration: none;
}
a:visited {
    color:  #3f51b5;
    text-decoration: none;
}
a:hover {
    color: #607D8B;
    text-decoration: underline;
}
