h2 {
    text-align: center;
}
nav {
    text-align: center;
}
#contenedor {
	border-radius: 0px;
}
#pantalla {
    text-align: center;
    padding: 5px;
}
#pantalla_texto::after {
    content: "Wide Layout";
    color: #CFD8DC;
}
.white_content {
    top: 5%;
    left: 10%;
    right: 10%;
}
h1 {
    clear: both;
}
table {
    width: 90%;
}
.comentario {
    width: 80%;
}
#errores {
    width: 75%;
}
.stats {
    width: 80%;
}
