<p>
    <label for="preg">Pregunta: </label>
    <input type="text" id="preg" name="quiz[pregunta]" <% if (quiz.pregunta === "Pregunta") { %>placeholder="<% } else { %>value="<% } %><%= quiz.pregunta %>">
</p>
<p>
    <label for="preg">Respuesta: </label>
    <input type="text" id="preg" name="quiz[respuesta]" <% if (quiz.respuesta === "Respuesta") { %>placeholder="<% } else { %>value="<% } %><%= quiz.respuesta %>">
</p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">
