<p>
    <label for="preg">Pregunta: </label>
    <input type="text" id="preg" name="quiz[pregunta]" <% if (quiz.pregunta === "Pregunta") { %>placeholder="<% } else { %>value="<% } %><%= quiz.pregunta %>" size="40">
</p>
<p>
    <label for="preg">Respuesta: </label>
    <input type="text" id="preg" name="quiz[respuesta]" <% if (quiz.respuesta === "Respuesta") { %>placeholder="<% } else { %>value="<% } %><%= quiz.respuesta %>" size="40">
</p>
<p>
    <label for="preg">Tema: </label>
    <select id="tema" name="quiz[tema]">
        <option value="">Seleccione una temática</option>
        <option value="Otro" <% if(quiz.tema==="Otro"){ %> selected <% } %> >Otro</option>
        <option value="Humanidades" <% if(quiz.tema==="Humanidades"){ %> selected <% } %> >Humanidades</option>
        <option value="Ocio" <% if(quiz.tema==="Ocio"){ %> selected <% } %> >Ocio</option>
        <option value="Ciencia" <% if(quiz.tema==="Ciencia"){ %> selected <% } %> >Ciencia</option>
        <option value="Tecnología" <% if(quiz.tema==="Tecnología"){ %> selected <% } %> >Tecnología</option>
    </select>
</p>
<a href="/quizes"><button type="button"><img class="editar" src='/images/cancelar.png' alt='Cancelar'> Cancelar</button></a>
<button type="submit"><img class="editar" src='/images/guardar.png' alt='Guardar'> Guardar</button>
