<h2>Preguntas</h2>
<form method="get" action="/quizes/<%= quiz.id  %>/answer">
    <p>Pregunta: <%= quiz.pregunta %></p>
    <input type="text" name="respuesta" placeholder="Responda aquí">
    <button type="submit"><img class="editar" src='/images/enviar.png' alt='Enviar'> Enviar</button>
    <a href="/quizes"><button type="button"><img class="editar" src='/images/cancelar.png' alt='Cancelar'> Cancelar</button></a>
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button><img class="editar" src='/images/comentario.png' alt='Comentario'> Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
	<p>- <%=quiz.Comments[index].texto%></p>
<%}%>
