<h2>Login</h2>

<form method="post" action="/login">
<table class="login">
    <tr>
        <td><label for="login">Usuario: </label></td>
        <td><input type="text" id="login" name="login" size="30"></td>
    </tr>
    <tr>
        <td><label for="password">Contraseña: </label></td>
        <td><input type="password" id="password" name="password" size="30"></td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="submit"><img class="editar" src='/images/enviar.png' alt='Login'> Login</button>
        </td>
    </tr>
</table>

</form>
